# Influx and Telegraf
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=supersecretpassword
DOCKER_INFLUXDB_INIT_ORG=silverline
DOCKER_INFLUXDB_INIT_BUCKET=metrics
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=supersecretadmintoken

# MQTT
MQTT_SERVER=tcp://somehost:1883
MQTT_TOPIC=realm/proc/keepalive/#

# Grafana
TZ=America/New_York
GF_INSTALL_PLUGINS=
GF_SERVER_ROOT_URL=%(protocol)s://%(domain)s:%(http_port)s/grafana/ # grafana/ sub path with reverse proxy
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=supersecretpassword

# Dashboard
DASHBOARD_PORT=8883
DASHBOARD_ORCHESTRATOR_API_HOST=orchestratorhost
DASHBOARD_ORCHESTRATOR_API_PORT=8000
DASHBOARD_CORS_DOMAIN_REGEX=.*
